/* Navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .navbar button:hover {
    background-color: #0056b3;
  }
  
  /* Create Album */
  body {
    font-family: Arial, sans-serif;
  }
  
  .create-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f5f5f5;
  }
  
  .create-album h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
  }
  
  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-input label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .form-input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
  }
  
  .form-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-btn:hover {
    background-color: #0056b3;
  }

  /* Home CSS */
  .home {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .home div {
    flex: 1 1 280px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
  }
  
  .home h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .home p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .home button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .home button:not(:last-child) {
    margin-right: 10px;
  }
  
  .home button:hover {
    background-color: #0056b3;
  }

  /* Album Detail CSS */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


button {
  background-color: #e0e0e0;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover {
  background-color: #d0d0d0;
}